table, th, td {
    border-style: solid;
    border-color: rgb(247, 189, 0);
    width: 50%;
    margin: auto;
}
td {
    height: 25px;
    vertical-align: bottom;
}
th, td {
    padding: 1px;
    text-align: center;
    color: rgb(177, 247, 0);
}
th {
	font-size: 290%;
	color: rgb(255, 255, 255);
}
body {
	background-color: #960707;
}
