table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    height: 50px;
    vertical-align: bottom;
}
th, td {
    padding: 6px;
    text-align: left;
}
body {
	background-color: green;
}